
#infobar {
    text-align: right;
    background-color: rgb(233, 233, 233);
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
}


body{
    background-color: black;
    color: white;
}

.sumtxt {
    padding: 0px;
    margin: 0px;
}