body {
  background-color: cadetblue;
}

h2 {
  font-family: Verdana;
  text-align: left;
  display: block;
  margin: 3px;
}

.topnav {
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  margin: 3px;
}

a {
  color: red;
  display: inline;
  padding-left: 3px;
}

a:hover {
  color: blue;
}

.landscape {
  display: block;
  margin: 0 auto;
  padding: 0 auto;
}

.label {
  font-family: Arial, Helvetica, sans-serif;
  text-align: right;
  width: 100px;

  display: inline-block;
  padding: 0px 10px 0px 0px;
}

.rmb {
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;

  display: inline-block;
}

.search {
  display: inline-block;
  padding: 0px;
  width: 200px;
}

.submitbtn {
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  margin: auto;
  padding: 3px 10px;
}

#content {
  display: inline-block;
  background-color: gray;
  padding: 20px 10px;
  border: 3px;
  border-color: white;
  border-style: solid;
  margin: 30px auto;
}

#content-center {
  display: block;
  text-align: center;
}
input {
  display: inline-block;
  padding: 0px;
  width: 200px;
}

#ck {
  width: auto;
  display: inline;
  padding: 10px;
  text-align: right;
}
h4 {
  font-family: Arial, Helvetica, sans-serif;
  width: 70%;
  margin: 0px auto;
  background-color: azure;
  padding: 25px;
}
